<html lang="cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>永兴物业</title>
    <script src="./js/base64.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/1.4.3/theme-default/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/element-ui/1.4.3/index.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
</head>

<body style="background:url(http://img.hicloudshop.com/t76482/infoimg/2013-04/130428114756ni.jpg);background-size: cover;">
    <div id="app">
        <el-row>
            <el-col :span="22" :offset="1">
                <h3 style="text-align:center">绑定微信号</h3>
                <el-form :model="registerForm" :rules="rules" ref="registerForm" label-width="100px">
                    <el-form-item label="物业登记手机" prop="phone">
                        <el-input v-model="registerForm.phone"></el-input>
                    </el-form-item>
                    <el-form-item label="本人手机" prop="ownphone">
                        <el-input v-model="registerForm.ownphone"></el-input>
                    </el-form-item>
                    <el-form-item label="短信验证码" prop="phonemsg">
                        <el-input v-model="registerForm.phonemsg"></el-input>
                        <el-button @click="getMsg()" :disabled="msgDisabled">{{msgText}}</el-button>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('registerForm')">登录</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            msgDisabled: false,
            msgText: '获取验证码',
            registerForm: {
                phone: '',
                ownphone: '',
                phonemsg: '',
            },
            checkphone: function (rule, value, callback) {
                if (value === '') {
                    callback(new Error('注册手机号不能为空'));
                } else {
                    let Regphone = /(^(\+86|0086)?\s*1[34578]\d{9}$)/;
                    if (!Regphone.test(value)) {
                        callback(new Error('请输入11位手机号码'));
                    } else {
                        callback();
                    }
                }
            },
            rules: {
                phone: [
                    { required: true, validator: this.checkphone, trigger: 'change' },
                ],
                ownphone: [
                    { required: true, validator: this.checkphone, trigger: 'change' },
                ],
                phonemsg: [
                    { required: true, message: '请输入正确的短信验证码', trigger: 'change' }
                ],
            }
        },
        mounted() {
            let codeurl = window.location.search
            let codeindex = codeurl.indexOf('=')
            let codeend = codeurl.indexOf('&')
            console.log(codeurl);
            console.log(codeindex);
            console.log(codeend);
            let cdstr = ''
            if (codeend) {
                cdstr = codeurl.slice(codeindex + 1, codeend)
            }
            console.log(cdstr)
            if (cdstr.length > 0) {
                axios.post('http://api.yx101.cn/wx', { code: cdstr }).then(obj => {
                    console.log(obj.data)
                    let openid = obj.data.openid
                    console.log(openid)
                    filterObj = []
                    filterObj.push({
                        'key': 'openid',
                        'value': openid,
                        'type': ''
                    })
                    console.log(openid, filterObj)
                    // let base64 = new Base64();  
                    let filterTxt = BASE64.encoder(JSON.stringify(filterObj))
                    axios.get('http://api.yx101.cn/management/api/owner/?filter='+filterTxt).then(obj => {
                        console.log(obj.data)
                    })
                })
            }
        },
        methods: {
            submitForm() {
                axios.get('http://api.yx101.cn/wx')
                    .then(function (res) {
                        console.log('res', res)
                    })
            },
            getMsg() {
                this.msgDisabled = true
                let count = 60
                let msg = setInterval(() => {
                    count--
                    this.msgText = count + 's后重新获取'
                    console.log(this.msgText)
                    if (count <= 0) {
                        clearInterval(msg)
                        this.msgDisabled = false
                        this.msgText = '获取验证码'
                    }
                }, 1000)
            }
        }
    })

</script>

</html>