<html lang="cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>永兴物业</title>
    <script src="./js/base64.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/element-ui/1.4.3/theme-default/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/element-ui/1.4.3/index.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
</head>

<body style="background:url(http://img.hicloudshop.com/t76482/infoimg/2013-04/130428114756ni.jpg);background-size: cover;">
    <div id="app">
        <el-row>
            <el-col :span="22" :offset="1" v-if="isSucceed">
                <h3>恭喜你，验证通过，即将跳转个人资料页面...</h3>
            </el-col>
            <el-col :span="22" :offset="1" v-if="!isSucceed">
                <h4 style="text-align:center">您的账号还未绑定，请先绑定微信号</h4>
                <div style="margin-bottom:1em">
                    请选择您的分类：
                    <el-radio class="radio" v-model="person_type" label="1">业主</el-radio>
                    <el-radio class="radio" v-model="person_type" label="2">物业</el-radio>
                </div>
                <el-form :model="registerForm" :rules="rules" ref="registerForm" label-width="100px" v-if="person_type=='1'">
                    <el-form-item label="物业登记手机" prop="phone">
                        <el-input v-model="registerForm.phone"></el-input>
                    </el-form-item>
                    <el-form-item label="本人手机" prop="ownphone">
                        <el-input v-model="registerForm.ownphone"></el-input>
                    </el-form-item>
                    <el-form-item label="短信验证码" prop="phonemsg">
                        <el-input v-model="registerForm.phonemsg"></el-input>
                        <el-button @click="getMsg()" :disabled="msgDisabled">{{msgText}}</el-button>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('registerForm')">立即绑定</el-button>
                    </el-form-item>
                </el-form>
                <el-form :model="employeeForm" :rules="rules" ref="employeeForm" label-width="100px" v-if="person_type=='2'">
                    <el-form-item label="物业登记手机" prop="phone">
                        <el-input v-model="employeeForm.phone"></el-input>
                    </el-form-item>
                    <el-form-item label="本人手机" prop="ownphone">
                        <el-input v-model="employeeForm.ownphone"></el-input>
                    </el-form-item>
                    <el-form-item label="短信验证码" prop="phonemsg">
                        <el-input v-model="employeeForm.phonemsg"></el-input>
                        <el-button @click="getMsg()" :disabled="msgDisabled">{{msgText}}</el-button>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('employeeForm')">立即绑定</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>
    </div>
</body>
<script>
    function checkphone(rule, value, callback) {
        if (value === '') {
            callback(new Error('注册手机号不能为空'));
        } else {
            let Regphone = /(^(\+86|0086)?\s*1[34578]\d{9}$)/;
            if (!Regphone.test(value)) {
                callback(new Error('请输入11位手机号码'));
            } else {
                callback();
            }
        }
    }
    function checkHasphone(rule, value, callback) {
        if (value === '') {
            callback(new Error('注册手机号不能为空'));
        } else {
            let Regphone = /(^(\+86|0086)?\s*1[34578]\d{9}$)/;
            if (!Regphone.test(value)) {
                callback(new Error('请输入11位手机号码'));
            } else {
                let table = ''
                if (app.person_type == '1') {
                    table = 'owner'
                } else if (app.person_type == '2') {
                    table = 'employee'
                }
                let filterObj = []
                filterObj.push({
                    'key': 'telephone_number',
                    'value': value,
                    'type': ''
                })
                let filterTxt = BASE64.encoder(JSON.stringify(filterObj))
                axios.get('http://api.yx101.cn/management/api/' + table + '/?filter=' + filterTxt).then(obj => {
                    console.log('data', obj.data,obj.data.data.length)
                    if (obj.data.data.length == 0) {
                        callback(new Error('该手机未登记过,请输入已登记手机号'))
                    } else {
                        callback();
                    }
                })
            }
        }
    }
    var app = new Vue({
        el: '#app',
        data: {
            isSucceed: false,
            msgDisabled: false,
            msgText: '获取验证码',
            openId: '',
            person_type: '',
            registerForm: {
                phone: '',
                person_type: this.person_type,
                ownphone: '',
                phonemsg: '',
            },
            employeeForm: {
                ma_phone: '',
                person_type: this.person_type,
                ma_ownphone: '',
                ma_phonemsg: '',
            },
            rules: {
                phone: [
                    { required: true, validator: checkHasphone, trigger: 'change' },
                ],
                ownphone: [
                    { required: true, validator: checkphone, trigger: 'change' },
                ],
                phonemsg: [
                    { required: true, message: '请输入正确的短信验证码', trigger: 'change' }
                ],
                ma_phone: [
                    { required: true, validator: checkHasphone, trigger: 'change' },
                ],
                ma_ownphone: [
                    { required: true, validator: checkphone, trigger: 'change' },
                ],
                ma_phonemsg: [
                    { required: true, message: '请输入正确的短信验证码', trigger: 'change' }
                ]
            }
        },
        mounted() {
            let vm = this
            let codeurl = window.location.search
            let codeindex = codeurl.indexOf('=')
            let codeend = codeurl.indexOf('&')
            let cdstr = ''
            let openid = ''
            if (codeend) {
                cdstr = codeurl.slice(codeindex + 1, codeend)
            }
            console.log(cdstr)
            if (cdstr.length > 0) {
                axios.post('http://api.yx101.cn/wx', { code: cdstr }).then(obj => {
                    vm.openId = obj.data.openid
                    console.log('------', vm.openId)
                })
            }
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        let vm = this
                        let phone = ''
                        let msg = ''
                        let table = ''
                        if (this.person_type == '1') {
                            phone = vm.registerForm.ownphone
                            msg = vm.registerForm.phonemsg
                            table = 'owner'
                        } else if (this.person_type == '2') {
                            phone = vm.employeeForm.ownphone
                            msg = vm.employeeForm.phonemsg
                            table = 'employee'
                        }
                        axios.post('http://api.yx101.cn/checksms', { phone: phone, number: msg }).then(obj => {
                            if (obj.data.status == 0) {
                                let filterObj = []
                                filterObj.push({
                                    'key': 'telephone_number',
                                    'value': phone,
                                    'type': ''
                                })
                                console.log(phone, filterObj)
                                let filterTxt = BASE64.encoder(JSON.stringify(filterObj))
                                console.log('filterTxt', filterTxt)
                                axios.get('http://api.yx101.cn/management/api/' + table + '/?filter=' + filterTxt).then(obj => {
                                    console.log('---data', obj.data.data)
                                    let owninfo = obj.data.data[0]
                                    console.log(owninfo._id)
                                    if (owninfo.wxopen_id == '' || owninfo.wxopen_id == undefined) {
                                        owninfo.wxopen_id = vm.openId
                                        let ownid = owninfo._id
                                        console.log(ownid)
                                        axios.put('http://api.yx101.cn/management/api/' + table + '/' + ownid, owninfo).then(obj => {
                                            console.log(obj)
                                            if (obj.status == '200') {
                                                sessionStorage.setItem('wxopen_id', vm.openId)
                                                vm.isSucceed = true
                                                window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7e0aa09a76fe616b&redirect_uri=http://wx.yx101.cn/my/myinfo.html&response_type=code&scope=snsapi_base&state=123#wechat_redirect'
                                            }
                                        })
                                    } else {
                                        alert('此手机号已绑定微信，请用绑定微信登录或者解绑后再绑定')
                                    }
                                })

                            } else {
                                alert('短信验证码错误或者已超时')
                            }
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            getMsg() {
                let vm = this
                let phone = ''
                if (this.person_type == '1') {
                    phone = vm.registerForm.ownphone
                } else if (this.person_type == '2') {
                    phone = vm.employeeForm.ownphone
                }
                axios.post('http://api.yx101.cn/sms', { phone: phone }).then(obj => {
                    console.log(obj)
                })
                this.msgDisabled = true
                let count = 60
                let msg = setInterval(() => {
                    count--
                    this.msgText = count + 's后重新获取'
                    if (count <= 0) {
                        clearInterval(msg)
                        this.msgDisabled = false
                        this.msgText = '获取验证码'
                    }
                }, 1000)
            }
        }
    })

</script>

</html>